
body {
    background-color: #d6e2f5;   
    font-family: 'Saira Extra Condensed', sans-serif;
    margin: 3;
    padding: 3;
}

h1{
    color: #0a2342;             
    border-bottom: 2px solid #670707; 
    padding-bottom: 5px;
    font-family: 'Saira Extra Condensed', sans-serif;
    border-left: 5px;
    text-align: center;
}

h2 {
    color: #0a2342;             
    padding-bottom: 5px;
    font-family: 'Saira Extra Condensed', sans-serif;
    border-left: 5px;
    text-align: center;
    text-decoration: underline;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


a {
    color: #0a2342;           
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.button {
    display: inline-block;
    background-color: #0a2342;
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
    text-decoration: none;
    margin-top: 15px;
}

.button:hover {
    background-color: #123d6a;
}

.custom-img {
    width: 100%; 
    height: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.video-section {
    text-align: center;   
    padding-top: 50px;   
    padding-bottom: 30px;  
}

.video-section iframe {
    max-width: 100%;   
    border: 4px solid #0a2342; 
    border-radius: 8px;  
}